# Strings

In [1]:
firstname = "Felix"
lastname = "Kjellberg"
fullname = firstname + " " + lastname
fullname

'Felix Kjellberg'

In [3]:
work = "AIgineer AB"
adress = "Supah cool streeeto"
phone = "112"

conctact_details = f"""
name: {fullname}
work: {work}
adress: {adress}
phone: {phone}
"""
print(conctact_details)

name: Felix Kjellberg
work: AIgineer AB
adress: Supah cool streeeto
phone: 112

In [6]:
menu = ["chili con carne", "noodles" , "chicken", "pancakes", "taco"]
days = ["mon", "tue", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n"
for day, food in zip(days, menu):
    weekly_menu += f"{day:<10} {food}\n"

print(weekly_menu)

Weekly menu
mon        chili con carne
tue        noodles
wed        chicken
thu        pancakes
fri        taco

In [7]:
quote = "!False - it's funny because it's True"
quote

"!False - it's funny because it's True"

In [8]:
quote[0]

'!'

In [9]:
quote[-1]

'e'

In [10]:
quote[:6]

'!False'

In [11]:
quote[::-1]

"eurT s'ti esuaceb ynnuf s'ti - eslaF!"

In [12]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

## split and cleaning a string

In [13]:
subjects = "Math, biology ,   cHeMistry  ,   PrOgramminG      "
subjects

'Math, biology ,   cHeMistry  ,   PrOgramminG      '

In [ ]:
subjects = subjects.split(",")

AttributeError: 'list' object has no attribute 'split'

In [16]:
subjects

['Math', ' biology ', '   cHeMistry  ', '   PrOgramminG      ']

In [23]:
subjects = [subject.strip().upper() for subject in subjects]
for subject in subjects:
    print(f"{subject} has {len(subject)} characters")

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PROGRAMMING has 11 characters

## regex

In [ ]:
import re

text = "Det var en g√•ng en katt som tog sig en hatt"

match_list = re.findall(r".att", text)
match_list

['katt', 'hatt']

In [25]:
personal_number = "Ida: 19950516-2235, Berit: 19890806-7623, Benny 710823-8721"

match_long = re.findall(r"\d{8}-\d{4}", personal_number) 
match_long

['19950516-2235', '19890806-7623']

In [27]:
match_short = re.findall(r"\d{6}-\d{4}", personal_number)
match_short

['950516-2235', '890806-7623', '710823-8721']